.main-content {
    height: 100%;
    width: 100%;
    background-color: #121212;
    text-align: center;
}

.content-container {
    height: 100%;
    width: 90%;
    display: inline-block;
}

.sec1 {
    height: 100%;
    width: 45%;
    display: inline-block;
    vertical-align: top;
}

.sec1-content {
    height: auto;
    width: 100%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.sec1-content div img {
    height: 8rem;
    margin-bottom: 1rem;
}

.sec1-content div h1 {
    font-size: 3rem;
    margin: 0;
    font-weight: bold;
}

.sec1-content div p {
    font-size: 1.5rem;
    margin: 2rem 0;
    font-weight: lighter;
    width: 80%;
    display: inline-block;
}

.sec1-content div button {
    border: none;
    background-color: #FF5315;
    padding: 1.5rem 4rem;
    margin: 0.5rem 0.5rem;
    color: white;
    border-radius: 0.5rem;
    font-weight: bold;
    font-size: 1.5rem;
    cursor: pointer;
}

.sec1-content div iframe {
    margin: 2rem 0;
}

.sec1-content div h3 {
    font-size: 1.3rem;
    padding: 4rem 0 0.5rem 0;
    font-weight: bold;
    margin-block-start: 0;
    margin-block-end: 0;
}

.sec1-content div a {
    margin: 0 0.3rem;
}

.sec1-content div a img {
    height: 3.5rem;
}

.sec2 {
    height: 100%;
    width: 55%;
    display: inline-block;
    vertical-align: top;
}

.sec2-contents {
    height: auto;
    width: 100%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.sec2-content-box1 {
    height: 30rem;
    background-color: #333333;
    border-radius: 0.5rem;
    margin: 0.8rem 0;
}

.sec2-content-box2 {
    height: 25rem;
    margin: 0.8rem 0;
    display: grid;
    grid-template-columns: 58% auto;
    grid-column-gap: 0.8rem;
}

.sec2-content-box2a, .sec2-content-box2b div {
    background-color: #333333;
    border-radius: 0.5rem;
}

h1 {
    font-size: 1.9rem;
    margin-block-start: 0;
    margin-block-end: 0;
}

h2 {
    text-align: left;
    padding: 1.5rem 3.5rem 0 3.5rem;
    font-size: 1.7rem;
    margin-block-start: 0;
    margin-block-end: 0;
    font-weight: 600;
}

p {
    text-align: left;
    padding: 0.3rem 3.5rem 0 3.5rem;
    font-size: 1.6rem;
    margin-block-start: 0;
    margin-block-end: 0;
    color: #707070;
}

.sec2-content-box2b {
    display: grid;
    grid-template-rows: 65% auto;
    grid-row-gap: 0.8rem;
}

.sec2-content-box2a-center, .sec2-content-box2ba-center {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.sec2-content-box2ba-pic {
    margin-top: 1.2rem;
}

.sec2-content-box2ba-pic img {
    height: 6rem;
    margin: 0 1rem;
    border-radius: 50%;
}

@media screen and (orientation: portrait) {
    .sec1, .sec2 {
        display: block;
        width: 100%;
    }

    .sec2-contents {
        position: initial;
        top: 0;
        transform: translateY(0);
    }

    .sec2-content-box2 {
        grid-template-columns: 100% 100%;
        overflow: scroll;
    }
}