.result-content {
    height: 100%;
    width: 100%;
    background-color: #121212;
    text-align: center;
}

.result-content-box {
    width: 100%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.result-content-box img {
    height: 7rem;
}

.result-content-box p {
    font-weight: 600;
    font-size: 1.4rem;
    opacity: 0.2;
    margin-top: 7rem;
}

footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    text-align: center;
}

footer img {
    height: 3rem;
    padding: 5rem 0;
}