.retrieve-content {
    height: 100%;
    width: 100%;
    background-color: #121212;
    text-align: center;
}

.retrieve-content-box {
    width: 100%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.logo img {
    height: 8rem;
    margin-bottom: 1rem;
}

.bot-name h1 {
    font-size: 3rem;
    margin: 0;
    font-weight: bold;
}

.upload-key {
    margin-top: 1rem;
    opacity: 0.5;
    font-size: 1.5rem;
}

.download-sec {
    margin-top: 6rem;
}

.disabled {
    background-color: #3d3b3b !important;
    cursor: not-allowed !important;
}

.download-sec button {
    border: none;
    background-color: #FF5315;
    padding: 1.5rem 4rem;
    margin: 0.5rem 0.5rem;
    color: white;
    border-radius: 0.5rem;
    font-weight: bold;
    font-size: 1.5rem;
    cursor: pointer;
}