.upload-content {
    height: 100%;
    width: 100%;
    background-color: #121212;
    text-align: center;
}

.upload-content-box {
    width: 100%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.logo img {
    height: 8rem;
    margin-bottom: 1rem;
}

.bot-name h1 {
    font-size: 3rem;
    margin: 0;
    font-weight: bold;
}

.upload-key {
    margin-top: 1rem;
    opacity: 0.5;
    font-size: 1.5rem;
}

.upload-area {
    margin: 4rem 0 3rem 0;
    text-align: center;
}

.upload-box {
    height: 25rem;
    width: 40%;
    transition: 0.3s;
    background-color: #333333;
    border-radius: 0.5rem;
    display: inline-block;
    position: relative;
}

.upload-box-background,.upload-box-receiver {
    position: absolute;
    height: 100%;
    width: 100%;
}

.upload-box-bg-center {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.isDragActive {
    transition: 0.3s;
    background-color: #444444;
}

.upload-box-bg-center img {
    height: 5.5rem;
    opacity: 0.4;
}

.upload-box-bg-center p {
    font-size: 1.5rem;
}

.upload-button button {
    border: none;
    background-color: #FF5315;
    padding: 1.4rem 6rem;
    margin: 0.5rem 0.5rem;
    color: white;
    border-radius: 0.5rem;
    font-weight: bold;
    font-size: 1.5rem;
    cursor: pointer;
}