html, body, #root {
    margin: 0;
    padding: 0;
    font-size: 10px;
    color: white;
    height: 100%;
    width: 100%;
    background-color: #121212;
    font-family: 'Montserrat', sans-serif, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}